<ul class="tr">
    <li class="td w8"><a href="~language_prefix~/~pagename~/modules/update/~module~"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
    <li class="td w8"><a href="~language_prefix~/~pagename~/modules/delete/~module~"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
    <li class="td w8"><a href="~language_prefix~/~pagename~/modules/download/~module~"><i class="fa fa-download" aria-hidden="true"></i></a></li>
    <li class="td w25 text-left">~name~</li>
    <li class="td w8">~version~</li>
    <li class="td w25">~author~</li>
    <li class="td w16">~date~</li>
</ul>