<tr data-id="~module~">
    <td width="15%">
        <i class="move"></i>
        <a href="~language_prefix~/~pagename~/modules/delete/~module~" title="*Delete this module*" class="delete" onclick="return confirm('*Are you sure want to delete this module*?');"><i class="fa fa-trash-o"></i></a>
        <a href="~language_prefix~/~pagename~/modules/options/~module~" title="*Edit module options*" class="edit"><i class="fa fa-cog"></i></a>
        <a href="~language_prefix~/~pagename~/modules/download/~module~" title="*Save module to your data storage*" class="btn-white"><i class="fa fa-download"></i></a>
    </td>
    <td width="35%" class="text-left"><a href="~language_prefix~/~pagename~/~name~">~title~</a></td>
    <td width="25%"><a href="mailto:~author~">~author~</a></td>
    <td width="10%">~version~</td>
    <td width="15%">~date~</td>
</tr>