<div class="additional-links">
    <a href="~language_prefix~/~pagename~/modules/shop" title="*Modules shop*"><i class="fa fa-shopping-bag"></i></a> &nbsp;
    <a href="~language_prefix~/~pagename~/modules/install" title="*Install module*"><i class="fa fa-cube"></i></a>
</div>
<table class="admin-overview">
<thead>
    <tr>
        <th width="15%"> </th>
        <th width="35%" class="text-left">*Module name*</th>
        <th width="25%">*Author*</th>
        <th width="10%">*Version*</th>
        <th width="15%">*Development date*</th>
    </tr>
</thead>
<tbody data-m-action="drag_sort" data-m-model="modules\modules\models\modules_sequence">
    ~items~
</tbody>
</table>